div#errorOverlay {
  opacity:    0.5;
  visibility: hidden;
  background: red;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  user-select: none;
}

div.solanum {
  position: absolute;
  margin: 0;
  padding: 0;
}

button.solanum {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

input.solanum {
  position: absolute;
  box-sizing: border-box;
}

img.solanum {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

svg {
  top:0;
  left:0;
  position: absolute;
}

.textHighlight {
  /* TODO used in the monaco editor, should also support dark theme */
	background: lightblue;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

